ssi-bot.ini
praw.ini
bot-db.sqlite3*
pushshift.sqlite3*
models/*
model_finetuning/json_data/*
model_finetuning/*.sqlite3
model_finetuning/dataset.ini
cache_dir/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
